.body {
  padding-top: 20px;
}
.profile {
  border-radius: 20px;
  margin: auto;
  background-color: white;
  height: 150px;
  width: 500px;
}
.profile-container {
  padding: 10px;
  align-items: center;
  align-content: center;
  display: flex;
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("../../public/logo192.png" );
  background-size: 100px;

}

